<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>Label</key>
    <string>com.yossilev.getstokes</string>

    <key>WorkingDirectory</key>
    <string>/Users/yossilev/automation/bank</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/yossilev/automation/bank/rundailyG.sh</string>
        <string>G</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>22</integer>

        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/yossilev/launchd.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/yossilev/launchd.err.log</string>

</dict>
</plist>